<div id="container">
  <form (ngSubmit)="handleSubmit(loginForm.value)" #loginForm="ngForm">
    <div>
      <input required #email="ngModel" type="email" ngModel name="email" placeholder="Enter your email">
      <small *ngIf="email.touched && email.invalid" class="text-danger">E-mail is invalid</small>
    </div>
    <br>
    <div>
      <input required #password="ngModel" type="password" ngModel name="password" placeholder="enter password">
      <small *ngIf="password.touched && password.invalid" class="text-danger">Username is invalid</small>
    </div>
    <br>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>

</div>
