<div id="container">
  <h1 *ngIf="name == 'ibrahim'">long</h1>
    <h1 *ngIf="name=='ibrahim';else shortName"></h1>

    <ng-template #shortName>
        <h1>Short</h1>
    </ng-template>

    <div>
        <h1>For loop</h1>
        <h3 *ngFor="let color of colors" class="color-item" [ngStyle]="{'background-color': color}"></h3>
    </div>

  <form (ngSubmit)="handleSubmit(loginForm.value)" #loginForm="ngForm">
    <input type="text" ngModel name="username" placeholder="enter username">
    <input type="password" ngModel name="password" placeholder="enter password">
    <button type="submit">Submit</button>
  </form>

</div>
